on:
  pull_request:
  push:
    branches:
      - main

name: tests

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Run tests with no default features
        run: cargo test --no-default-features

      - name: Run tests with default features
        run: cargo test

      - name: Run tests with codec features
        run: cargo test --features codec

      - name: Run tests with full features
        run: cargo test --features full

      - name: Run tests with all features
        run: cargo test --all-features

